.header {
    padding: 10px 60px;
    background-color: $white;
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    .row {
        align-items: center;
    }
}

.header-logo-wrapper {
    max-width: 340px;
    width: 100%;
    padding: 0;

    a {
        width: 100%;
        height: auto;
        max-width: 140px;
        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: 32px;
            object-fit: contain;
        }
    }
}
.header-search-wrapper {
    max-width: 540px;
    width: 100%;
    margin-right: 104px;
    .search-bar {
        position: relative;
        z-index: 9;
        input {
            background-color: $SeachbarBG;
            border: 0;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            width: 100%;
            padding: 8.5px 35px 8.5px 10px;
            caret-color: $MeridaBlue;
            color: $ESRPBlue;
        }
        .header-search-icon {
            position: absolute;
            top: 4px;
            right: 7px;
            z-index: 9;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg {
            }
        }
    }
}

.header-menu-wrapper {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            position: relative;
            &:not(:first-child) {
                margin-left: 64px;
            }
            a {
                line-height: 24px;
                text-decoration: none;
                color: $HeaderMenuLink;
                padding: 0 10px;
                position: relative;
                transition: $transition;
                -webkit-transition: $transition;
                -moz-transition: $transition;
                -ms-transition: $transition;
                -o-transition: $transition;
                display: block;
                line-height: 24px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 3px;
                    background-color: $ESRPBlue;
                    bottom: -14px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transition: $transition;
                    -webkit-transition: $transition;
                    -moz-transition: $transition;
                    -ms-transition: $transition;
                    -o-transition: $transition;
                }
            }
            &:hover,
            &.active {
                a {
                    color: $Black;

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.header-user-wrapper {
    margin-left: auto;
    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            &:not(:first-child) {
                margin-left: 26px;
            }
            a {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 100%;
                    path {
                        transition: $transition;
                        -webkit-transition: $transition;
                        -moz-transition: $transition;
                        -ms-transition: $transition;
                        -o-transition: $transition;
                    }
                }
                &:hover {
                    path {
                        fill: $ESRPBlue;
                    }
                }
            }
        }
    }
}

// DARK THEME ------------------------------------

#{$dark-theme} {
    .header-menu-wrapper {
        ul {
            li {
                &:hover,
                &.active {
                    a {
                        color: $white;
                        &::before {
                            background-color: $DoryBlue;
                        }
                    }
                }
                a {
                    color: $HeaderMenuActive;
                }
            }
        }
    }

    .header-user-wrapper {
        ul {
            li {
                a {
                    &:hover svg {
                        path {
                            fill: $DoryBlue;
                        }
                    }
                }
            }
        }
    }

    .header-search-wrapper {
        .search-bar {
            input {
                background-color: $Black;
                caret-color: $BoggsPurple;
                color: $white;
            }
            .header-search-icon {
                path {
                    fill: $PurpleBlue;
                }
            }
        }
    }
}

// LIGHT THEME ------------------------------------

#{$light-theme} {
    .header-menu-wrapper {
        ul {
            li {
                &:hover,
                &.active {
                    a {
                        &::before {
                            background-color: $BoggsPurple;
                        }
                    }
                }
            }
        }
    }

    .header-user-wrapper {
        ul {
            li {
                a {
                    &:hover svg {
                        path {
                            fill: $BoggsPurple;
                        }
                    }
                }
            }
        }
    }
}
