@import "./variables.scss";
@import "./button-style/button.style.scss";

#{$dark-theme} {
    background-color: $Black;

    *::-webkit-scrollbar {
        width: 3px;
    }
    *::-webkit-scrollbar-track {
        background: $PurpleBlue;
    }
    *::-webkit-scrollbar-thumb {
        background: $Purple-Dark;
    }
    *::-webkit-scrollbar-thumb:hover {
        background: $Purple-Dark;
    }

    .site-content {
        .site-inner-content{
            background-color: $BodyBgDark;
        }
    }

    .theme-change-wrapper {
        ul,
        .theme-click-icon {
            background-color: $DarkMapControlBg;
        }
        .theme-click-icon {
            path {
                fill: $white;
            }
        }
        ul {
            li {
                label {
                    color: $white;
                }
            }
        }
    }

    .header,
    .side-bar {
        background-color: $DarkMapControlBgNew;
    }

    .loading-sec {
        background-color: $DarkLoading;
    }
    .loading-content {
        .img {
            .dark {
                display: block;
            }
            .light {
                display: none;
            }
        }
        .progress-bar-wrapper {
            span {
                color: $white;
            }
        }
    }

    .map-control-wrapper {
        .map-control-item {
            background-color: $DarkMapControlBg;
            box-shadow: none;

            li {
                a {
                    path {
                        fill: $HeaderMenuActive;
                    }
                    &:hover {
                        background-color: $DoryBlue;
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }

    .map-distance-wrapper {
        ul {
            background-color: $DarkMapControlBg;
        }
        li {
            a {
                color: $white;
            }
            &:hover,
            &.active {
                a {
                    background-color: $BoggsPurple;
                }
            }
        }
    }

    .card {
        background-color: $DarkMapControlBgNew;
        box-shadow: none;

        .card-title{
            label{
              color: $white;
            }
            .sub-text{
                color: $white;
            }
        }
    }

    .page-title,
    .page-title-sub {
        color: $BtnDisabled;
    }

    .indicator-text {
        li {
          .name {
            color: $white;
          }
        }
      }
}
