@import "../sass/variables.scss";
@import "./button-style/button.style.scss";
@import "./sidebar-style/sidebar-style.scss";
@import "./input-style/input-style.scss";
@import "./header-style/header.style.scss";
@import "./footer-style/footer-style.scss";
// @import '../components/wageAnalysis/analysis-dashboard.style.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: $SeachbarBG;
}
*::-webkit-scrollbar-thumb {
  background: $ESRPBlue;
}
*::-webkit-scrollbar-thumb:hover {
  background: $ESRPBlue;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.44px;
  margin: 0;
  padding: 0;
  background-color: $OffWhite;
}
*:focus {
  outline: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.d-none {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: normal;
  margin: 0;
}

h1 {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: -1.75px;
}

h2 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1.5px;
}
h3 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.75px;
}
h4 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -0.44px;
}
h5 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0px;
}
h6 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.15px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.44px;
}
.body-2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.44px;
}
.caption {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
.overline {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.container {
  max-width: 100%;
  padding: 0 15px;
}
.container-md {
  padding-left: 60px;
  padding-right: 60px;
}

// .container-fluid {
//   max-width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
// }
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row > .col {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: $xxl) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: $xl) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (max-width: $lg) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: $md) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: $sm) {
  .container {
    max-width: 375px;
  }
}

// SITE CONTENT ***************
.site-content {
  .site-inner-content {
    background-color: $SeachbarBG;
    overflow: auto;
    height: calc(100vh - 38px);
    // height: 100%;
    padding-bottom: 38px;
    padding-top: 50px;
  }
}

.dashboard-map {
  height: calc(100vh - 88px);
  // height: 100vh;
}
.mapboxgl-control-container {
  display: none;
}

// MAP CONTROLS  ***************

.map-control-wrapper {
  .map-control-item {
    background-color: $white;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    // box-shadow: 0 10px 80px #9072d569;
    box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07), 0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
      0 22.34px 17.87px rgba(92, 134, 193, 0.0417), 0 12.52px 10.02px rgba(92, 134, 193, 0.035),
      0 6.5px 5.32px rgba(92, 134, 193, 0.0283), 0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
    width: 46px;

    &:not(:first-child) {
      margin-top: 14px;
    }

    li {
      a {
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        path {
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
        }

        &:hover {
          background-color: $ESRPBlue;
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

// MAP DISTANCE ***************
.map-distance-wrapper {
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: $white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 10px 80px #9072d569;
  }
  li {
    &:not(:first-child) {
      margin-left: 20px;
    }
    a {
      padding: 8px 8px;
      min-width: 53px;
      text-align: center;
      display: inline-block;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      font-size: 13px;
      letter-spacing: -0.2px;
      line-height: normal;
      cursor: pointer;
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
    }
    &:hover,
    &.active {
      a {
        background-color: $ESRPBlue;
        color: $white;
      }
    }
  }
}

.site-inner-content {
  // padding: 25px;
}

// CARD ***************

.card {
  background-color: $white;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07), 0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
    0 22.34px 17.87px rgba(92, 134, 193, 0.0417), 0 12.52px 10.02px rgba(92, 134, 193, 0.035),
    0 6.5px 5.32px rgba(92, 134, 193, 0.0283), 0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .card-body {
    padding: 20px 30px;
  }
  .card-title {
    label {
      color: $BlueishBlack;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      line-height: 36px;
      display: block;
    }
    .sub-text {
      display: block;
      color: $BlueishBlack;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.overview-card {
  ul {
    margin-top: 15px;
  }
  li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .name {
      color: $BlueishBlack;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.44px;
      line-height: 24px;
      max-width: 70%;
      display: block;
    }
    .value {
      color: $BlueishBlack;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.44px;
      line-height: 32px;
      opacity: 0.6;
      max-width: 30%;
      display: block;
    }
    &:not(:first-child) {
      margin-top: 10px;
      padding-top: 14px;
      border-top: 1px solid $BtnDisabled;
    }
  }
}

.indicator-text {
  li {
    display: flex;
    flex-wrap: wrap;
    .circle {
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      margin-right: 8px;
      margin-top: 6px;
    }
    .name {
      color: $Black-Dark;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.44px;
      max-width: calc(100% - 20px);
      display: block;
    }
  }
}

.page-title {
  color: $NewLightprimary;
  margin: 0;
}
.page-title-sub {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.44px;
  color: $NewLightprimary;
}

.has-sidebar {
  max-width: calc(100% - 100px);
  margin-left: auto;
}

.btn,
.btn-icon {
  margin-right: 10px;
}
