@import "./variables.scss";
@import "./button-style/button.style.scss";

#{$light-theme} {
    background-color: $white;

    *::-webkit-scrollbar {
        width: 3px;
    }
    *::-webkit-scrollbar-track {
        background: $SeachbarBG;
    }
    *::-webkit-scrollbar-thumb {
        background: $BoggsPurple;
    }
    *::-webkit-scrollbar-thumb:hover {
        background: $BoggsPurple;
    }

    .theme-change-wrapper {
        ul,
        .theme-click-icon {
            background-color: $white;
        }
    }

    .map-control-wrapper {
        .map-control-item {
            box-shadow:0 100px 80px rgba(108, 73, 172, 0.071), 
            0 41.78px 33.4px rgba(108, 73, 172, 0.051), 
            0 22.34px 17.87px rgba(108, 73, 172, 0.039), 
            0 12.52px 10.02px rgba(108, 73, 172, 0.039), 
            0 6.5px 5.32px rgba(108, 73, 172, 0.031), 
            0 2.77px 2.21px rgba(108, 73, 172, 0.02);

            li {
                a {
                    path {
                        fill: $BoggsPurple;
                    }
                    &:hover {
                        background-color: $BoggsPurple;
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }

    .map-distance-wrapper {
        li {
            &:hover,
            &.active {
                a {
                    background-color: $BoggsPurple;
                    color: $white;
                }
            }
        }
    }
}
