.site-footer {
    padding: 11px 67px;
    background-color: $white;
    position: fixed;
    bottom: 0;
    left: 0;
    // width: calc(100% - 100px);
    width: 100%;
    margin-left: auto;
    right: 0;
    z-index: 9999;

    a,
    label {
        display: block;
        margin: 0;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 1.5px;
        font-weight: 700;
        text-transform: uppercase;
        color: $PurpleBlue;
        text-decoration: none;
    }
    label {
        text-align: right;
    }
}

// DARK THEME -----------------------------------
#{$dark-theme} {
    footer {
        background-color: $BlueishBlack-Dark;
    }
}


// LIGHT THEME -----------------------------------