.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}
.side-bar {
    position: fixed;
    left: 0;
    width: 100px;
    background-color: $white;
    top: 0;
    height: 100vh;

    .side-bar-inner {
        padding: 27px 0 56px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // align-items: center;
        height: 100%;
        overflow-y: auto;

        & > div {
            flex: 0 0 100%;
            width: 100%;
        }
    }
}
.site-logo {
    width: 100%;
    a {
        display: block;
        width: 48px;
        height: 48px;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.side-bar-menu {
    padding-top: 35px;
    margin: auto 0;
    ul {
        li {
            &:not(:first-child) {
                margin-top: 50px;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 50px;
                    background-color: $ESRPBlue;
                    bottom: 0;
                    top: 0;
                    margin: auto 0;
                    left: 0;
                    transition: $transition;
                    -webkit-transition: $transition;
                    -moz-transition: $transition;
                    -ms-transition: $transition;
                    -o-transition: $transition;
                    border-radius: 0 20px 20px 0;
                    -webkit-border-radius: 0 20px 20px 0;
                    -moz-border-radius: 0 20px 20px 0;
                    -ms-border-radius: 0 20px 20px 0;
                    -o-border-radius: 0 20px 20px 0;
                    opacity: 0;
                }
                path {
                    transition: $transition;
                    -webkit-transition: $transition;
                    -moz-transition: $transition;
                    -ms-transition: $transition;
                    -o-transition: $transition;
                }
            }
            &:hover,
            &.active {
                a {
                    path {
                        fill: $ESRPBlue;
                    }
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.side-bar-profile {
    padding-top: 35px;
    margin-top: auto;
    .profile {
        a {
            display: block;
            height: 58px;
            width: 58px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                border-radius: 21px;
                -webkit-border-radius: 21px;
                -moz-border-radius: 21px;
                -ms-border-radius: 21px;
                -o-border-radius: 21px;
                object-fit: cover;
            }
        }
    }
    .notification {
        padding-top: 30px;
        a {
            display: block;
            position: relative;
            max-width: 32px;
            margin: 0 auto;
            &.has-notification {
                &::before {
                    position: absolute;
                    content: "";
                    width: 7px;
                    height: 7px;
                    background-color: $Red;
                    top: 0;
                    right: 2px;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    box-shadow: 0 0 0 4px $white;
                }
            }
            svg {
                path {
                }
            }
        }
    }
}


// DARK THEME -------------------------------

#{$dark-theme} {
    .side-bar-menu {
        ul {
            li {
                &.active,
                &:hover {
                    a {
                        &::before {
                            background-color: $SidebarActive;
                        }
                        path {
                            fill: $SidebarActive;
                        }
                    }
                }
            }
        }
    }
}

// LIGHT THEME -------------------------------

#{$light-theme} {
    .side-bar-menu {
        ul {
            li {
                &.active,
                &:hover {
                    a {
                        &::before {
                            background-color: $BoggsPurple;
                        }
                        path {
                            fill: $BoggsPurple;
                        }
                    }
                }
            }
        }
    }
}
